{
    "rules": {
        "space-before-blocks": [2, "always"],
        "valid-jsdoc": [1, {
            "requireReturn": false
        }],
        "no-unreachable": 2,
        "no-regex-spaces": 2,
        "no-shadow": 1,
        "sap-no-localstorage": 2,
        "no-mixed-requires": [0, false],
        "quotes": [2, "double", {
            "avoidEscape": true,
            "allowTemplateLiterals": true
        }],
        "no-return-assign": [2, "except-parens"],
        "max-len": [1, 200],
        "sap-no-ui5base-prop": 2,
        "spaced-comment": [2, "always", {
            "line": {
                "markers": ["*package", "!", "/", ",", "="]
            },
            "block": {
                "balanced": true,
                "markers": ["*package", "!", ",", ":", "::", "flow-include"],
                "exceptions": ["*"]
            }
        }],
        "no-mixed-spaces-and-tabs": 2,
        "no-param-reassign": 1,
        "sap-no-location-reload": 2,
        "strict": [0, "global"],
        "no-sync": 0,
        "eol-last": 2,
        "generator-star-spacing": [2, {
            "before": true,
            "after": true
        }],
        "no-new-func": 2,
        "constructor-super": 2,
        "no-eval": 2,
        "new-parens": 2,
        "yoda": [1, "never"],
        "no-delete-var": 2,
        "no-ternary": 0,
        "sap-usage-basemastercontroller": 1,
        "no-nested-ternary": 1,
        "no-dupe-args": 2,
        "complexity": [1, 15],
        "no-control-regex": 2,
        "no-invalid-regexp": 2,
        "sap-no-ui5-prop-warning": 1,
        "no-catch-shadow": 1,
        "no-iterator": 2,
        "no-with": 2,
        "sap-no-absolute-component-path": 2,
        "no-spaced-func": 1,
        "curly": [2, "multi-line"],
        "no-debugger": 2,
        "comma-style": [2, "last"],
        "no-extend-native": 2,
        "no-extra-parens": [2, "functions"],
        "no-constant-condition": [2, {
            "checkLoops": false
        }],
        "no-redeclare": 2,
        "one-var": [2, {
            "initialized": "never"
        }],
        "radix": 1,
        "sort-vars": 0,
        "no-new": 2,
        "no-obj-calls": 2,
        "sap-no-br-on-return": 2,
        "sap-no-override-rendering": 2,
        "sap-no-override-storage-prototype": 2,
        "accessor-pairs": 2,
        "handle-callback-err": [2, "^(err|error)$"],
        "space-before-function-paren": [2, "always"],
        "lines-around-comment": 0,
        "sap-no-proprietary-browser-api": 1,
        "sap-no-element-creation": 2,
        "dot-location": 2,
        "no-bitwise": 0,
        "wrap-iife": [2, "any", {
            "functionPrototypeMethods": true
        }],
        "comma-spacing": 2,
        "no-floating-decimal": 2,
        "sap-no-global-selection": 1,
        "no-underscore-dangle": 0,
        "space-unary-ops": [2, {
            "words": true,
            "nonwords": false
        }],
        "no-restricted-modules": 0,
        "no-alert": 2,
        "sap-no-global-variable": 2,
        "no-script-url": 1,
        "func-style": [0, "declaration"],
        "max-depth": [1, 4],
        "no-undefined": 0,
        "no-unexpected-multiline": 2,
        "sap-no-dom-access": 1,
        "no-dupe-keys": 2,
        "no-loop-func": 1,
        "no-shadow-restricted-names": 2,
        "sap-no-jquery-device-api": 2,
        "array-bracket-spacing": [2, "never", {
            "singleValue": true
        }],
        "guard-for-in": 1,
        "no-process-exit": 0,
        "vars-on-top": 0,
        "no-extra-semi": 1,
        "sap-message-toast": 1,
        "no-native-reassign": 2,
        "sap-no-global-define": 2,
        "sap-ui5-no-private-prop": 1,
        "no-process-env": 0,
        "comma-dangle": [2, {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "never"
        }],
        "no-else-return": 0,
        "no-array-constructor": 2,
        "use-isnan": 2,
        "quote-props": 0,
        "sap-no-location-usage": 1,
        "no-multi-str": 2,
        "object-shorthand": 0,
        "sap-no-encode-file-service": 1,
        "no-throw-literal": 2,
        "sap-timeout-usage": 1,
        "no-var": 0,
        "consistent-return": 1,
        "no-func-assign": 2,
        "no-self-compare": 2,
        "operator-assignment": 0,
        "no-new-wrappers": 2,
        "padded-blocks": [2, {
            "blocks": "never",
            "switches": "never",
            "classes": "never"
        }],
        "no-negated-in-lhs": 2,
        "keyword-spacing": [2, {
            "before": true,
            "after": true
        }],
        "sap-no-history-manipulation": 1,
        "no-implied-eval": 2,
        "no-div-regex": 0,
        "no-void": 0,
        "sap-no-dom-insertion": 1,
        "no-extra-bind": 2,
        "no-unneeded-ternary": [2, {
            "defaultAssignment": false
        }],
        "no-plusplus": 0,
        "no-ex-assign": 2,
        "space-in-parens": [2, "never"],
        "newline-after-var": 0,
        "default-case": [1, {
            "commentPattern": "^skip\\sdefault"
        }],
        "no-lonely-if": 0,
        "no-inner-declarations": [2, "functions"],
        "max-statements": [1, 40],
        "valid-typeof": [2, {
            "requireStringLiterals": true
        }],
        "sap-no-navigator": 2,
        "key-spacing": [2, {
            "beforeColon": false,
            "afterColon": true
        }],
        "no-inline-comments": 0,
        "semi": [2, "always"],
        "no-empty-character-class": 2,
        "no-empty": 1,
        "no-proto": 2,
        "sap-forbidden-window-property": 1,
        "no-new-require": 2,
        "sap-no-hardcoded-url": 2,
        "object-curly-spacing": [2, "always", {
            "arraysInObjects": false,
            "objectsInObjects": false
        }],
        "no-continue": 1,
        "sap-no-dynamic-style-insertion": 2,
        "no-cond-assign": 2,
        "computed-property-spacing": [2, "never"],
        "sap-cross-application-navigation": 1,
        "sap-no-exec-command": 2,
        "no-octal": 2,
        "no-new-object": 2,
        "func-names": 0,
        "sap-no-sessionstorage": 2,
        "no-trailing-spaces": 2,
        "no-irregular-whitespace": 2,
        "consistent-this": [1, "that"],
        "camelcase": [2, {
            "properties": "never"
        }],
        "space-infix-ops": 2,
        "no-fallthrough": 2,
        "no-warning-comments": 1,
        "no-octal-escape": 2,
        "no-unused-vars": [2, {
            "vars": "all",
            "args": "none",
            "ignoreRestSiblings": true
        }],
        "no-sparse-arrays": 2,
        "operator-linebreak": [2, "after", {
            "overrides": {
                "?": "before",
                ":": "before"
            }
        }],
        "no-sequences": 2,
        "no-undef": 2,
        "eqeqeq": [2, "always", {
            "null": "ignore"
        }],
        "indent": [2, 4],
        "sap-no-localhost": 1,
        "no-multi-spaces": 2,
        "sap-no-hardcoded-color": 2,
        "new-cap": [2, {
            "capIsNew": false,
            "newIsCap": true
        }],
        "no-console": 2,
        "no-multiple-empty-lines": [2, {
            "max": 1,
            "maxEOF": 0
        }],
        "max-nested-callbacks": [0, 2],
        "sap-no-global-event": 2,
        "no-extra-boolean-cast": 2,
        "block-scoped-var": 0,
        "no-labels": [2, {
            "allowLoop": false,
            "allowSwitch": false
        }],
        "no-eq-null": 1,
        "no-path-concat": 2,
        "no-label-var": 2,
        "no-use-before-define": [2, {
            "functions": false,
            "classes": false,
            "variables": false
        }],
        "semi-spacing": [2, {
            "before": false,
            "after": true
        }],
        "linebreak-style": [0, "unix"],
        "max-params": [1, 8],
        "no-caller": 2,
        "no-lone-blocks": 2,
        "wrap-regex": 0,
        "no-unused-expressions": 2,
        "dot-notation": 1,
        "no-undef-init": 2,
        "brace-style": [2, "1tbs", {
            "allowSingleLine": true
        }],
        "no-duplicate-case": 2,
        "prefer-const": 0,
        "no-this-before-super": 2,
        "array-callback-return": 0,
        "arrow-body-style": 0,
        "arrow-parens": 0,
        "arrow-spacing": [2, {
            "before": true,
            "after": true
        }],
        "block-spacing": 2,
        "callback-return": 0,
        "class-methods-use-this": 0,
        "func-call-spacing": [2, "never"],
        "func-name-matching": 0,
        "global-require": 0,
        "id-blacklist": 0,
        "id-length": 0,
        "id-match": 0,
        "init-declarations": 0,
        "jsx-quotes": 0,
        "line-comment-position": 0,
        "lines-around-directive": 0,
        "max-lines": 0,
        "max-statements-per-line": 0,
        "multiline-ternary": 0,
        "newline-before-return": 0,
        "newline-per-chained-call": 0,
        "no-case-declarations": 0,
        "no-class-assign": 2,
        "no-confusing-arrow": 0,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-duplicate-imports": 0,
        "no-empty-function": 2,
        "no-empty-pattern": 2,
        "no-extra-label": 0,
        "no-global-assign": 2,
        "no-implicit-coercion": 0,
        "no-implicit-globals": 0,
        "no-invalid-this": 0,
        "no-magic-numbers": 0,
        "no-mixed-operators": [2, {
            "groups": [["==", "!=", "===", "!==", ">", ">=", "<", "<="], ["&&", "||"], ["in", "instanceof"]],
            "allowSamePrecedence": true
        }],
        "no-negated-condition": 0,
        "no-new-symbol": 2,
        "no-prototype-builtins": 0,
        "no-restricted-globals": 0,
        "no-restricted-imports": 0,
        "no-restricted-properties": 0,
        "no-restricted-syntax": 0,
        "no-return-await": 2,
        "no-self-assign": 2,
        "no-tabs": 2,
        "no-template-curly-in-string": 2,
        "no-unmodified-loop-condition": 2,
        "no-unsafe-finally": 2,
        "no-unsafe-negation": 2,
        "no-unused-labels": 0,
        "no-useless-call": 2,
        "no-useless-computed-key": 2,
        "no-useless-concat": 0,
        "no-useless-constructor": 2,
        "no-useless-escape": 2,
        "no-useless-rename": 2,
        "no-useless-return": 2,
        "no-whitespace-before-property": 2,
        "object-curly-newline": 0,
        "object-property-newline": [2, {
            "allowMultiplePropertiesPerLine": true
        }],
        "one-var-declaration-per-line": 0,
        "prefer-arrow-callback": 0,
        "prefer-numeric-literals": 0,
        "prefer-reflect": 0,
        "prefer-rest-params": 0,
        "prefer-spread": 0,
        "prefer-template": 0,
        "require-jsdoc": 0,
        "require-yield": 0,
        "rest-spread-spacing": [2, "never"],
        "sort-imports": 0,
        "sort-keys": 0,
        "symbol-description": 2,
        "template-curly-spacing": [2, "never"],
        "unicode-bom": [2, "never"],
        "yield-star-spacing": [2, "both"]
    },
    "globals": {
        "com": true,
        "oData": false,
        "sakp": false,
        "fin": true,
        "cloud": true,
        "bsuite": false,
        "cordova": false,
        "ui": true,
        "webide": false,
        "asyncTest": false,
        "i2d": true,
        "gltrade": false,
        "drilldown": true,
        "opaTest": false,
        "ux": true,
        "test": false,
        "$": false,
        "module": false,
        "ai": false,
        "notEqual": false,
        "notDeepEqual": false,
        "throws": false,
        "ssuite": false,
        "deepEqual": false,
        "s2p": false,
        "Promise": false,
        "ehs": false,
        "sinon": false,
        "stop": false,
        "util": true,
        "slo": false,
        "mdm": false,
        "mytravelandexpense": false,
        "strictEqual": false,
        "cec": false,
        "cus": false,
        "notStrictEqual": false,
        "fscm": false,
        "fm": true,
        "nw": true,
        "shcm": false,
        "fcg": true,
        "URI": false,
        "fs": true,
        "retail": false,
        "d3": false,
        "hcm": false,
        "oil": true,
        "assert": false,
        "hpa": false,
        "ok": false,
        "sap": true,
        "QUnit": false,
        "cross": true,
        "srm": false,
        "equal": false,
        "expect": false,
        "jQuery": false,
        "publicservices": true,
        "uxcc": false,
        "equals": false,
        "tl": false,
        "travel": true
    },
    "env": {
        "node": false,
        "browser": true,
        "amd": true,
        "mocha": true,
        "jasmine": false
    }
}