/dist/
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
UIAdaptation_index.html
changes_preview.js
AppVariant_index.html
APIExternalProducer.js
.*/APIExternalProducer.js
/dist/controller/App-dbg.controller.js
/dist/controller/App.controller.js
/dist/controller/BaseController-dbg.js
/dist/controller/BaseController.js
/dist/controller/ErrorHandler-dbg.js
/dist/controller/NotFound-dbg.controller.js
/dist/controller/NotFound.controller.js
/dist/controller/Object-dbg.controller.js
/dist/controller/Worklist-dbg.controller.js
/dist/controller/Worklist.controller.js
/dist/i18n/i18n.properties
/dist/model/formatter-dbg.js
/dist/model/formatter.js
/dist/model/models-dbg.js
/dist/model/models.js
/dist/view/App.view.xml
/dist/view/NotFound.view.xml
/dist/view/Object.view.xml
/dist/view/ObjectNotFound.view.xml
/dist/view/Worklist.view.xml
/dist/Component-dbg.js
/dist/Component.js
/dist/di.code-validation.core_issues.json
/dist/index.html
/dist/manifest.json
/dist/neo-app.json
/dist/resources.json
/dist/sap-ui-cachebuster-info.json


AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
/mta_archives/
